<html>
<head>
	Here are some recipes related to your search term.  Select one to view it in detail.
</head>

<body>
<br><br>
<form action="/show_recipe_details" method="GET">
	{% for line in recipes %}
	<input type="radio" name="recipeID" value={{line.recipeID}} checked>{{line.recipeID, line.title}}</input>
	<br>
	{% endfor %}
	<br>
	<input type="submit" value="View Recipe">
	<br><br>
	You can also search for a different recipe, or return home.
	<br>
	<a href="/display_recipe">Search For Different Recipe(s)</a>
	<br>
	<a href="/">Home</a>
	<br>
</form>
</body>
</html>
