<html>
<head>
</head>
<body>

<h1>Welcome {{username}}</h1>
	<a href="/recipes_search">Search For A Recipe</a>
<br><br>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here is your information:
<br><br>
<b>Your Profile:</b> {{posts1.profile}}
<br><br>
<table>
	<th>Your Groups</th>
	<tr>
		{% for line in posts2 %}
		<td>{{line.gName}}</td>
	</tr>
	{% endfor %}
</table>

<br>
<table>
	<th>Recipes Posted (ID) </th>
	<th> Title </th>
	<tr>
		{% for line in posts3 %}
		<td><a href="/show_recipe_details?recipeID={{line.recipeID}}">{{line.recipeID}}</a></td>
		<td>{{line.title}}</td>
	</tr>
	{% endfor %}
</table>
<br>


Things you can do:
<br><br>
<a href="/post_recipe">Post A Recipe</a>
<br><br>
<a href="/post_review">Review A Recipe</a>
<br><br>
<a href="/post_event">Post A Group Event</a>
<br><br>
<a href="/all_events">RSVP to an Event</a>
<br><br>
<a href="/join_group">Join A Group</a>
<br><br><br><br>
<a href="/logout">Logout</a>

</body>


</html>


