<!DOCTYPE html>
<html>

<head>

</head>
<h1>Welcome to Cookzilla!</h1>
<body>
	<p>
		If you are already a member, please <a href="/login">Login</a>
		</br>
		</br>
		If not, you may still access the functions below, however we would love for you to be a member.
		</br>
		</br>
		Please join us! <a href="/register">Register Here</a></br>
		</br>
	<p>

	<a href="/recipes_search">Search for Recipes</a></br>
	<a href="#">Display Recipe Info</a>
	</br>
	<a href="/home">Home</a></br>
	<a href="/logout">Logout</a></br>

</body>

</html>